@import "src/index";

.loading-screen {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  position: absolute;
  background: #00000050;
  left: 0;
  top: 0;
}
